.checkbox {
  display: inline-grid;
  grid-template-columns: rem(20) auto;
  gap: rem(8);
  cursor: pointer;

  &__input {
    appearance: none;
    position: absolute;

    &:checked + .checkbox__box {
      background-color: #06739a;
    }

    &:focus-visible + .checkbox__box {
      box-shadow: 0 0 0 1px #06739a;
    }
  }

  &__box {
    position: relative;
    display: block;
    width: 100%;
    height: rem(20);
    border-radius: rem(2);
    border: 1px solid #06739a;
    transition: all var(--bs-transition);

    @include pseudo-cell(before) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-image: url('../../images/svg/checkbox.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__name {
    user-select: none;
    color: rgba(6, 115, 154, 0.5);
    font-size: rem(14);
    padding-top: rem(2);
    transition: filter var(--bs-transition);

    @include any-hover {
      filter: contrast(0.1);
    }

    &:focus-visible,
    &:active {
      filter: contrast(0.1);
    }
  }

  &__politics {
    color: #06739a;
  }
}
