.popup {
  $white-100: #fff;

  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow-y: auto;
  pointer-events: none;

  /** Установить свои значения */
  padding: rem(30) rem(10);
  background-color: #022e3ecc;

  z-index: 2000;
  transition: opacity 0.4s ease-in-out;

  &.is-open {
    opacity: 1;
    pointer-events: auto;

    .popup__content {
      transform: translateY(0);
      opacity: 1;
    }
  }

  // .popup__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 100%;
  }

  // .popup__content
  &__content {
    position: relative;
    width: 100%;
    margin: 0 auto;

    /** Установить свои значения */
    @include property('padding-inline', 50, 25);
    @include property('padding-block', 30, 15);
    max-width: rem(1250);
    border-radius: rem(40);
    background-color: #ffffffed;
    transform: translateY(rem(-200));
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }

  // .popup__close
  &__close {
    position: absolute;

    /** Установить свои значения */
    top: rem(20);
    right: rem(20);
    @include property('width', 56, 42);
    @include property('height', 56, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    color: #06739a;
    border: 1px solid #06739a;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 0px #00719b26;
    transition: opacity var(--bs-transition);

    @media (any-hover: hover) {
      opacity: 0.5;
    }

    @include any-hover() {
      opacity: 1;
    }
  }
}

.map-popup {
  &__text {
    @include property('font-size', 28, 22);
    padding-right: rem(50);
    margin-bottom: 1rem;
  }

  iframe {
    width: 100%;
    height: 70vh;
    height: 70dvh;
    border-radius: rem(30);
  }
}
