.popup {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow-y: auto;
  pointer-events: none;
  background-color: #022e3ecc;
  z-index: 2000;
  transition: opacity var(--bs-transition);

  &:not(.search-popup) {
    padding-inline: rem(10);
    @include property('padding-block', 30, 16);
  }

  &.search-popup {
    @include property('padding-bottom', 30, 16);
  }

  &.burger-popup {
    padding: 0;
  }

  &.is-open {
    opacity: 1;
    pointer-events: auto;

    .popup__content {
      transform: translateY(0);
      opacity: 1;
    }

    &.burger-popup {
      .popup__content {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  // .popup__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 100%;

    .search-popup & {
      align-items: flex-start;
    }

    .burger-popup & {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .popup__content
  &__content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    // overflow: hidden;

    /** Установить свои значения */
    @include property('padding-inline', 50, 20);
    @include property('padding-block', 30, 15);
    max-width: rem(1250);
    background-color: #ffffff;
    transform: translateY(rem(-200));
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    border-radius: rem(30);

    @media (min-width: 768px) {
      border-radius: rem(40);
    }

    .test-popup &,
    .appointment-popup & {
      max-width: rem(1565);
      width: auto;
      @include property('padding-block', 50, 20);
    }

    .review-popup & {
      max-width: rem(1245);
      width: 100%;
    }

    .search-popup & {
      border-radius: 0;
      max-width: 100%;
      padding: 0;
      @include property('border-bottom-left-radius', 40, 20, 1536, 1024);
      @include property('border-bottom-right-radius', 40, 20, 1536, 1024);
    }

    .burger-popup & {
      max-width: rem(440);
      transform: translateX(rem(-200));
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      @include property('padding-top', 15, 10, 1536, 1024);
      @include property('border-bottom-right-radius', 20, 10, 1536, 1024);
      @include property('border-top-right-radius', 20, 10, 1536, 1024);
      margin: 0;
      flex: 1;

      @media (min-width: 1024px) {
        max-width: max-content;
      }
    }
  }

  &__close {
    position: absolute;
    top: rem(20);
    right: rem(20);
    @include property('width', 56, 42);
    @include property('height', 56, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    color: #06739a;
    border: 1px solid #06739a;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 0px #00719b26;
    transition: opacity var(--bs-transition);

    @media (any-hover: hover) {
      opacity: 0.5;
    }

    @include any-hover {
      opacity: 1;
    }

    &:focus-visible,
    &:active {
      opacity: 1;
    }
  }
}
