<div class="banner">
  @@if(img == true) {
  <div class="banner__img">
    <img src="../../images/example2.png" width="455" height="377" alt />
  </div>
  }
  <div class="banner__title">
    <h3>@@title</h3>
  </div>
  <div class="banner__subtitle">
    <p>@@subtitle</p>
  </div>
  <div class="banner__btns">
    <a href="akcii-one.html" class="button-line">Дізнатися більше</a>

    @@if(btn) { @@include('../components/button.html', { "title": "@@btn",
    "data-type": '@@dataType', "flag": false, "class":
    'button__blue banner__btn' }) }
  </div>
</div>
