<div class="block-slider">
    <div class="block-slider__header">
        <div class="block-slider__inner">
            <p class="block-slider__sale">Розпродаж</p>
            <p class="block-slider__hit">ХIT продаж</p>
            <p class="block-slider__percent">-30%</p>
        </div>
        <img class="block-slider__img" src="../../images/Item.png" width="576"
            height="459" loading="lazy" alt="product">
    </div>
    <h2 class="block-slider__title">Французьки устiлки Podiatech</h2>
    <p class="block-slider__subtitle">Cиньо-помаранчеві ортопедичні
        устілки
        для комфортного та повседенної ходьби</p>
    <div class="block-slider__wrap">
        <div class="block-slider__prices">
            <span class="block-slider__new-price">890 <span>₴</span></span>
            <span class="block-slider__old-price">1350 <span>₴</span></span>
        </div>
        @@include('./button.html', { "title":
        "Замовити", "flag": 'up', "class": 'button__blue' })
    </div>
</div>