<div class="main-decisions">
    <div class="main-decisions__title">
        <h2>@@title</h2>
    </div>
    <div class="main-decisions__inner">
        <img src="../../images/@@image" width="398" height="287" alt="s">
    </div>
    <div class="main-decisions__subtitle">
        <p>@@subtitle</p>
    </div>
    <div class="main-decisions__btns">
        @@include('../components/button.html', { "title":
        "Записатися на прийом", "flag": true, "class": 'button__grey' })
        <button class="button-line">Дізнатися більше</button>
    </div>
</div>