<div class="fixed-block" data-lp>
    <div class="fixed-block__leg">
        <button class="fixed-block__btn" type="button">
            <span class="visually-hidden">Leg</span>
            <svg class="fixed-block__img" width="28" height="28"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.93755 12.094C8.13655 15.5534 12.5899 16.4337 11.5386 18.871C10.4867 21.3078 8.13262 20.8207 8.3953 23.2574C8.65855 25.6947 11.7737 25.729 14.6098 24.2609C20.2815 21.3241 21.465 14.9094 18.8983 12.094C15.7438 8.63467 9.73855 8.63467 8.93755 12.094Z"
                    fill="currentColor" stroke="currentColor" />
                <path
                    d="M18.8412 9.40619C19.3172 9.80557 20.1886 9.55057 20.7877 8.83663C21.3868 8.12269 21.4866 7.22017 21.0106 6.82079C20.5346 6.42142 19.6632 6.67642 19.0641 7.39036C18.465 8.1043 18.3652 9.00682 18.8412 9.40619Z"
                    fill="currentColor" />
                <path
                    d="M16.3136 7.99371C16.8767 8.25629 17.6525 7.78442 18.0464 6.93976C18.4402 6.0951 18.303 5.1975 17.7399 4.93492C17.1768 4.67234 16.401 5.14421 16.0072 5.98887C15.6133 6.83353 15.7505 7.73113 16.3136 7.99371Z"
                    fill="currentColor" />
                <path
                    d="M13.4754 7.58006C14.0933 7.64501 14.6732 6.94628 14.7706 6.0194C14.8681 5.09253 14.4461 4.2885 13.8282 4.22355C13.2103 4.15861 12.6304 4.85734 12.533 5.78421C12.4355 6.71109 12.8575 7.51512 13.4754 7.58006Z"
                    fill="currentColor" />
                <path
                    d="M9.1446 7.11435C10.0204 6.79559 10.3858 5.59058 9.96078 4.42288C9.53578 3.25518 8.48128 2.56698 7.60551 2.88573C6.72973 3.20449 6.36431 4.4095 6.78932 5.5772C7.21433 6.7449 8.26882 7.4331 9.1446 7.11435Z"
                    fill="currentColor" stroke="currentColor"
                    stroke-width="2" />
                <path
                    d="M20.8832 11.4487C21.2826 11.9246 22.1851 11.8249 22.8991 11.2258C23.613 10.6267 23.868 9.75524 23.4686 9.27928C23.0692 8.80332 22.1667 8.90312 21.4528 9.50218C20.7388 10.1013 20.4838 10.9727 20.8832 11.4487Z"
                    fill="currentColor" />
            </svg>
        </button>
    </div>

    <div class="fixed-block__phone">
        <button class="fixed-block__btn" type="button">
            <span class="visually-hidden">phone</span>
            <svg class="fixed-block__img" width="32" height="32"
                viewBox="0 0 32 32"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.82667 14.3867C10.7467 18.16 13.84 21.24 17.6133 23.1733L20.5467 20.24C20.9067 19.88 21.44 19.76 21.9067 19.92C23.4 20.4133 25.0133 20.68 26.6667 20.68C27.4 20.68 28 21.28 28 22.0133V26.6667C28 27.4 27.4 28 26.6667 28C14.1467 28 4 17.8533 4 5.33333C4 4.6 4.6 4 5.33333 4H10C10.7333 4 11.3333 4.6 11.3333 5.33333C11.3333 7 11.6 8.6 12.0933 10.0933C12.24 10.56 12.1333 11.08 11.76 11.4533L8.82667 14.3867Z"
                    fill="currentColor" />
            </svg>
        </button>
        <div class="fixed-block__wrap">
            @@include('../blocks/phone.html')
        </div>
    </div>

    <div class="fixed-block__messangers messangers">
        <button class="fixed-block__btn"
            type="button">
            <span class="visually-hidden">message</span>
            <svg class="fixed-block__img" width="32" height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M10.6667 12.0002H21.3333M10.6667 17.3335H18.6667M24 5.3335C25.0609 5.3335 26.0783 5.75492 26.8284 6.50507C27.5786 7.25521 28 8.27263 28 9.3335V20.0002C28 21.061 27.5786 22.0784 26.8284 22.8286C26.0783 23.5787 25.0609 24.0002 24 24.0002H17.3333L10.6667 28.0002V24.0002H8C6.93913 24.0002 5.92172 23.5787 5.17157 22.8286C4.42143 22.0784 4 21.061 4 20.0002V9.3335C4 8.27263 4.42143 7.25521 5.17157 6.50507C5.92172 5.75492 6.93913 5.3335 8 5.3335H24Z"
                    stroke="currentColor" stroke-width="2.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>

        <ul class="messangers__list">
            <li class="messangers__item">
                <a href="#" class="messangers__link">
                    <span class="visually-hidden">telegram</span>
                    <img
                        src="../../images/svg/messangers/telegram.svg"
                        width="56"
                        height="56"
                        alt />
                </a>
            </li>
            <li class="messangers__item">
                <a href="#" class="messangers__link">
                    <span class="visually-hidden">viber</span>
                    <img
                        src="../../images/svg/messangers/viber.svg"
                        width="56"
                        height="56"
                        alt />
                </a>
            </li>
            <li class="messangers__item">
                <a href="#" class="messangers__link">
                    <span class="visually-hidden">whatsup</span>
                    <img
                        src="../../images/svg/messangers/whatsup.svg"
                        width="56"
                        height="56"
                        alt />
                </a>
            </li>
            <li class="messangers__item">
                <a href="#" class="messangers__link">
                    <span class="visually-hidden">messanger</span>
                    <img
                        src="../../images/svg/messangers/messanger.svg"
                        width="56"
                        height="56"
                        alt />
                </a>
            </li>
            <li class="messangers__item">
                <a href="#" class="messangers__link">
                    <span class="visually-hidden">email</span>
                    <img
                        src="../../images/svg/messangers/email.svg"
                        width="56"
                        height="56"
                        alt />
                </a>
            </li>
            <li class="messangers__item">
                <a href="#" class="messangers__link">
                    <span class="visually-hidden">instagram</span>
                    <img
                        src="../../images/svg/messangers/instagram.svg"
                        width="56"
                        height="56"
                        alt />
                </a>
            </li>
        </ul>
    </div>
</div>