<div class="magazine-block img-bg">
  <div class="magazine-block__img">
    <img src="../../images/main-decisions-1.jpg" width="613" height="452" alt />
  </div>
  <div class="magazine-block__title">
    <h3>Только сложившаяся структура организации даёт нам право принимать</h3>
  </div>
  <div class="magazine-block__text">
    <p>
      Figma ipsum component variant main layer. Pen union editor subtract share
      union subtract list pencil blur. Edit bold vector text polygon community
      link create.
    </p>
  </div>
  <div class="magazine-block__wrap">
    <div class="magazine-block__date">05.02.2024</div>
    <a href="magazine-one.html" class="magazine-block__link button-line"
      >Читати статтю</a
    >
  </div>
</div>
