<div class="magazine-block img-bg magazine-main">
    <div class="magazine-block__img">
        <img src="../../images/main-decisions-1.jpg" width="613" height="452"
            alt>
    </div>
    <div class="magazine-block__date">05.02.2024</div>
    <div class="magazine-block__title">
        <h3>Новый закон накладывает вето на шёпот бессменных лидеров</h3>
    </div>
    <div class="magazine-block__text">
        <p>Figma ipsum component variant main layer. Pen union editor subtract
            share union subtract list pencil blur. Edit bold vector text polygon
            community link create.</p>
    </div>
    <div class="magazine-block__wrap">
        <a href="magazine-one.html"
            class="magazine-block__link button button__white">
            <span>Читати статтю</span>

            <svg width="16" height="17" viewBox="0 0 16 17" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10.0311 5.76184L4.20472 5.76184L4.20472 4.76184L12.4834 4.76184L12.4834 4.76185L12.4834 5.76184L12.4834 13.0405L11.4834 13.0405L11.4834 5.76184L11.4453 5.76184L3.70711 13.5L3 12.7929L10.0311 5.76184Z"
                    fill="currentColor"></path>
            </svg>
        </a>
    </div>
</div>