<div class="swiper swiperThumb2">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="swiperThumb2__inner">
                <p class="swiperThumb2__sale">Розпродаж</p>
                <p class="swiperThumb2__percent">-30%</p>
            </div>
            <img class="swiperThumb2__img" src="../../images/Item.png"
                width="565" height="553" loading="lazy" alt="product">
        </div>
        <div class="swiper-slide">
            <div class="swiperThumb2__inner">
                <p class="swiperThumb2__sale">Розпродаж</p>
                <p class="swiperThumb2__percent">-30%</p>
            </div>
            <img class="swiperThumb2__img" src="../../images/Item.png"
                width="565" height="553" loading="lazy" alt="product">
        </div>
        <div class="swiper-slide">
            <div class="swiperThumb2__inner">
                <p class="swiperThumb2__sale">Розпродаж</p>
                <p class="swiperThumb2__percent">-30%</p>
            </div>
            <img class="swiperThumb2__img" src="../../images/Item.png"
                width="565" height="553" loading="lazy" alt="product">
        </div>
        <div class="swiper-slide">
            <div class="swiperThumb2__inner">
                <p class="swiperThumb2__sale">Розпродаж</p>
                <p class="swiperThumb2__percent">-30%</p>
            </div>
            <img class="swiperThumb2__img" src="../../images/Item.png"
                width="565" height="553" loading="lazy" alt="product">
        </div>
        <div class="swiper-slide">
            <div class="swiperThumb2__inner">
                <p class="swiperThumb2__sale">Розпродаж</p>
                <p class="swiperThumb2__percent">-30%</p>
            </div>
            <img class="swiperThumb2__img" src="../../images/Item.png"
                width="565" height="553" loading="lazy" alt="product">
        </div>
    </div>
    <div class="swiperThumb2__btns">
        <button type="button" class="swiperThumb-button-prev"><span
                class="visually-hidden">prev</span></button>
        <button type="button" class="swiperThumb-button-next"><span
                class="visually-hidden">next</span></button>
    </div>
</div>
<div thumbsSlider class="swiper swiperThumb">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img class="swiperThumb__img" src="../../images/Item.png"
                width="212" height="212" loading="lazy" alt="product">
        </div>
        <div class="swiper-slide">
            <img class="swiperThumb__img" src="../../images/Item.png"
                width="212" height="212" loading="lazy" alt="product">
        </div>
        <div class="swiper-slide">
            <img class="swiperThumb__img" src="../../images/Item.png"
                width="212" height="212" loading="lazy" alt="product">
        </div>
        <div class="swiper-slide">
            <img class="swiperThumb__img" src="../../images/Item.png"
                width="212" height="212" loading="lazy" alt="product">
        </div>
        <div class="swiper-slide">
            <img class="swiperThumb__img" src="../../images/Item.png"
                width="212" height="212" loading="lazy" alt="product">
        </div>
    </div>
</div>