.about-us {
  position: relative;
  z-index: 3;
  background-color: #06739a;
  color: #ffffff;
  border-radius: rem(30);
  overflow: hidden;
  padding: rem(32) rem(20);

  @include pseudo-cell(before) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      145.49deg,
      rgba(0, 113, 155, 0.085) 35.87%,
      rgba(0, 113, 155, 0.85) 58.13%
    );
  }

  @media (min-width: 768px) {
    overflow: hidden;
    border-radius: rem(40);
    padding: rem(45) rem(50);
  }

  &__bg {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    z-index: -1;
    transform: scale(1.8);

    @media (max-width: 699.98px) {
      display: none;
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    font-size: rem(21);
    line-height: 1.1;

    @media (min-width: 768px) {
      font-size: rem(34);
    }

    @media (min-width: 1200px) {
      font-size: rem(46);
    }
  }

  &__subtitle {
    position: relative;
    z-index: 2;
    max-width: rem(430);
    @include property('margin-top', 29, 16);
    @include property('margin-bottom', 74, 24);
  }

  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    gap: rem(20);
  }

  &__middle {
    display: flex;
    align-items: flex-end;
    font-size: rem(46);
    line-height: 0.85;
    font-weight: 300;
    margin-bottom: rem(11);

    @media (min-width: 768px) {
      font-size: rem(62);
    }

    @media (min-width: 1200px) {
      font-size: rem(86);
    }

    span {
      font-size: rem(20);
      line-height: 1.2;
    }
  }

  &__wrap {
    max-width: rem(430);

    &:nth-of-type(1) {
      max-width: rem(382);
    }
  }

  &__columns {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    gap: rem(24);
    @include property('margin-top', 70, 32);
  }

  &__column {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ffffff4d;
    background-color: #ffffff4d;
    padding: rem(24) rem(20);
    border-radius: rem(10);
    gap: rem(14);
    flex: 1 1 auto;
    backdrop-filter: blur(5px);

    @media (min-width: 768px) {
      padding: rem(26) rem(30);
      flex-direction: row;
      min-width: rem(340);
      width: calc(33.3333% - rem(48) / 3);
    }

    &-title {
      display: block;
      font-size: rem(20);
      text-wrap: balance;

      @media (min-width: 768px) {
        max-width: 220px;
      }
    }

    &-img {
      display: block;
      width: rem(35);
      height: rem(42);
      flex: 0 0 auto;
    }
  }
}
