.for-whom {
  &__container {
    display: grid;
    gap: rem(20);

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  &__desc {
    display: grid;
    gap: rem(30);
    align-content: flex-start;
    box-shadow: 0px 0px 20px 0px #00719b1a;
    background-color: #ffffff;
    @include property('border-radius', 40, 30);
    @include property('padding', 30, 20);
  }

  &__title {
    @include property('font-size', 46, 26);
  }

  &__subtitle {
    max-width: rem(500);
  }

  &__data {
    display: grid;
    align-content: flex-start;
    gap: rem(20);
    box-shadow: 0px 4px 20px 0px #00719b0d;
    background-color: #06739a;
    @include property('border-radius', 40, 30);
    @include property('padding', 30, 20);
    @include property('font-size', 46, 26);

    @media (min-width: 1200px) {
      grid-column: 2;
      grid-row: 1;
    }

    @media (max-width: 767.98px) {
      min-height: 220px;
    }

    * {
      color: #ffffff;
      max-width: rem(530);
    }
  }

  &__personal {
    position: relative;
    @include property('border-radius', 40, 30);
    overflow: hidden;
    display: grid;

    @media (min-width: 1200px) {
      grid-column: 1;
      grid-row: 2;
    }

    @media (max-width: 767.98px) {
      min-height: 220px;
    }

    @include pseudo-cell(before) {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #07749980;
      z-index: 2;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__wrap {
    position: relative;
    z-index: 3;
    color: #ffffff;
    max-width: rem(700);
    display: flex;
    align-items: flex-end;
    @include property('font-size', 30, 16);
    @include property('padding', 30, 20);
  }
}
