.main-decisions {
  display: grid;
  gap: rem(20);

  box-shadow: 3px 7px 18px 0px #07749905;
  background-color: #ffffff;
  padding: rem(20) rem(20) rem(28);
  box-shadow: rgba(0, 113, 155, 0.07) 0px 0px 15px 0px;
  border-radius: rem(30);

  @media (min-width: 768px) {
    grid-template-columns: 1.085fr 1fr;
    grid-template-rows: max-content auto max-content;
    grid-template-areas:
      'one two'
      'three two'
      'four two';
    border-radius: rem(40);
    padding: rem(40);
  }

  @media (min-width: 768px) and (min-height: 600px) {
    position: sticky;
    top: calc(var(--height-header) + rem(20));
    left: 0;
  }

  &__inner {
    aspect-ratio: 1.38/1;
    overflow: hidden;
    border-radius: rem(30);
    background-color: #06739a;

    @media (min-width: 768px) {
      border-radius: rem(40);
      grid-area: two;
    }

    @media (max-width: 767.98px) {
      aspect-ratio: 1.4375/1;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__container {
    display: grid;
    align-content: flex-start;
    gap: rem(24);
  }

  &__title {
    @media (min-width: 768px) {
      grid-area: one;
      height: max-content;
      align-self: flex-end;
    }

    * {
      @include property('font-size', 30, 20);
    }
  }

  &__subtitle {
    @media (min-width: 768px) {
      grid-area: three;
      height: max-content;
    }

    @include property('font-size', 17, 16);

    * {
      @include line-clamp(7);
    }
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16);
    align-items: center;

    @media (min-width: 768px) {
      grid-area: four;
      height: max-content;
      align-self: flex-start;
      margin-top: 10px;
    }

    .button__grey {
      font-size: rem(17);

      @media (min-width: 768px) {
        font-size: rem(18);
      }
    }
  }
}

.questions {
  display: grid;
  gap: rem(33);

  &__wrap {
    position: relative;
    display: grid;
    gap: rem(20);
  }
}
