.map {
  display: flex;

  @media (max-width: 360px) {
    display: none;
  }

  &__btn {
    display: flex;
    align-items: center;
    @include property('gap', 16, 10, 1920, 1200);
    background-color: transparent;
    transition: filter var(--bs-transition);

    @include any-hover {
      filter: contrast(0.1);
    }

    &:focus-visible,
    &:active {
      filter: contrast(0.1);
    }

    * {
      pointer-events: none;
    }
  }

  &__icon {
    color: #06739a;

    svg {
      transition: inherit;
    }
  }

  &__text {
    display: grid;
    gap: rem(5);
    text-align: left;
    margin: 0;
    color: #00719b;
    @include property('font-size', 15, 13, 1920, 1200);
    line-height: 1;
    transition: color var(--bs-transition);

    @media (max-width: 767.98px) {
      display: none;
    }
  }
}
