.no-name {
  &__text {
    &:not(.block1-services__two &) {
      font-size: rem(22);
      letter-spacing: -0.3px;

      @media (min-width: 1200px) {
        font-size: rem(30);
      }
    }
  }

  &__list {
    display: grid;
    gap: 0 rem(20);
    margin-top: rem(24);

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1200px) {
      margin-top: rem(28);
    }
  }

  &__item {
    position: relative;
    display: grid;
    gap: 20px;
    grid-row: auto / span 1;
    grid-template-rows: subgrid;
    font-size: rem(20);
    padding: rem(20) rem(32);
    padding-right: 0;
    border-bottom: 1px solid rgba(0, 113, 155, 0.45);

    .block1-services__two & {
      font-weight: 300;
    }

    &:nth-last-of-type(1) {
      border-bottom: none;
    }

    @media (min-width: 768px) {
      padding: rem(20) rem(40);
      padding-right: 0;

      &:nth-last-of-type(-n + 2) {
        border-bottom: none;
      }
    }

    @include pseudo-cell(before) {
      top: rem(23);
      left: 0;
      width: rem(16);
      height: rem(16);
      background-color: currentColor;
      mask-image: url('../../../images/svg/checkbox.svg');
      mask-repeat: no-repeat;
      mask-size: 100% 100%;
      mask-position: center;
    }
  }
}
