.stats {
  margin-bottom: rem(30);
  border-bottom-left-radius: rem(20);
  border-bottom-right-radius: rem(20);
  background-color: #ffffff;

  &__container {
    display: grid;
    gap: 0 rem(27);
    overflow: hidden;

    @media (min-width: 1200px) {
      grid-template-columns: minmax(rem(320), 1fr) 5fr;
      grid-template-rows: auto 1fr;
      grid-template-areas:
        'text stats'
        'btn stats';
    }
  }

  &__text {
    padding: rem(30) 0 rem(12);
    font-size: rem(21);
    letter-spacing: -0.5px;

    @media (min-width: 768px) {
      font-size: rem(24);
      letter-spacing: -1px;
      max-width: rem(345);
      letter-spacing: -0.2px;
      padding: rem(30) 0 rem(18);
    }

    @media (min-width: 1200px) {
      font-size: rem(30);
      grid-area: text;
      align-self: flex-start;
      max-width: 100%;
      letter-spacing: -0.5px;
      padding: rem(30) 0;
    }

    * {
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }

  &__btn {
    font-weight: 400;
    width: 100%;
    margin-bottom: rem(16);

    @media (min-width: 1200px) {
      grid-area: btn;
      align-self: flex-start;
      margin-bottom: rem(30);
    }
  }
}

.data-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  margin-bottom: rem(16);

  @media (min-width: 1200px) {
    grid-area: stats;
    margin-bottom: 0;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(0, 113, 155, 0.5);
    padding: rem(22) rem(12);

    @media (min-width: 768px) {
      padding: rem(38) rem(15) rem(64);
    }

    @media (min-width: 1200px) {
      padding: rem(30) rem(15) rem(115);
    }

    @media (min-width: 1440px) {
      padding: rem(30) rem(15);
    }

    @media (max-width: 1439.98px) {
      &:nth-last-of-type(1) {
        border-right: 1px solid rgba(0, 113, 155, 0.5);
      }

      &:nth-last-of-type(3) {
        border-right: 1px solid rgba(0, 113, 155, 0.5);
      }

      &:nth-last-of-type(1),
      &:nth-last-of-type(2) {
        border-top: 1px solid rgba(0, 113, 155, 0.5);
      }
    }
  }

  &__title {
    font-weight: 300;
    line-height: 1;
    font-size: rem(32);

    @media (min-width: 768px) {
      font-size: rem(72);
    }

    @media (min-width: 1200px) {
      font-size: rem(110);
    }

    @media (min-width: 1440px) {
      @include property('font-size', 110, 32, 1920, 768);
    }
  }

  &__text {
    font-size: rem(17);
    font-weight: 300;
    line-height: 1.2;
  }
}
