.button {
  position: relative;
  font-weight: 500;
  line-height: 1;
  @include property('font-size', 20, 16);
  padding: rem(14);
  border-radius: 100vmax;
  transition: all var(--bs-transition);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  text-align: center;

  @media (min-width: 768px) {
    padding: rem(14) rem(38);
  }

  &__red {
    border: 1px solid #ec1940;
    background-color: #ec1940;
    color: #ffffff;

    @include any-hover {
      border: 1px solid #ffffff;
      background-color: #ffffff;
      color: #ec1940;
    }

    &:focus-visible,
    &:active {
      border: 1px solid #ffffff;
      background-color: #ffffff;
      color: #ec1940;
    }
  }

  &__blue {
    border: 1px solid #06739a;
    background-color: #06739a;
    color: #ffffff;

    @include any-hover {
      background-color: #ffffff;
      color: #06739a;
    }

    &:focus-visible,
    &:active {
      background-color: #ffffff;
      color: #06739a;
    }
  }

  &__white {
    border: 1px solid #06739a;
    background-color: #ffffff;
    color: #06739a;

    @include any-hover {
      background-color: #06739a;
      color: #ffffff;
    }

    &:focus-visible,
    &:active {
      background-color: #06739a;
      color: #ffffff;
    }
  }

  &__grey {
    border: 1px solid #06739a;
    background-color: #f4f4f4;
    color: #06739a;

    font-size: rem(18);
    @include property('padding-block', 15, 12);
    @include property('padding-inline', 14, 12);

    @include any-hover {
      background-color: #06739a;
      color: #ffffff;
    }

    &:focus-visible,
    &:active {
      background-color: #06739a;
      color: #ffffff;
    }
  }

  &__play {
    padding-inline: rem(55);
    max-height: rem(50);
    overflow: hidden;

    @include pseudo-cell(before) {
      top: 0;
      left: 0;
      height: 100%;
      aspect-ratio: 1/1;
      background-image: url('../../images/svg/play.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  svg {
    pointer-events: none;
    transition: inherit;
  }
}

.button-line {
  position: relative;
  font-weight: 500;
  @include property('font-size', 20, 15);
  line-height: 1;
  background-color: transparent;

  @include pseudo-cell(before) {
    top: calc(100% + rem(4));
    left: 0;
    background-color: currentColor;
    width: 100%;
    height: rem(1);
    transition: width var(--bs-transition);
  }

  @include any-hover {
    &::before {
      width: 70%;
    }
  }

  &:focus-visible,
  &:active {
    &::before {
      width: 70%;
    }
  }
}

.form-contacts {
  background-color: #ffffff;
  padding: rem(20) rem(12);
  border-radius: rem(30);

  @media (min-width: 768px) {
    border-radius: rem(40);
    padding: rem(37) rem(40);
  }

  @media (min-width: 1200px) {
    padding: rem(40) rem(30);
  }

  @media (min-width: 1440px) {
    padding: rem(37) rem(40);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: rem(17);

    @media (min-width: 1200px) {
      gap: rem(20);
    }
  }

  &__fieldset {
    width: 100%;
  }

  &__label {
    display: block;
    padding: rem(10) rem(12);
    border: 1px solid #186fa140;
    border-radius: rem(13);
    background-color: #f5f6f7;
    cursor: text;
    transition: box-shadow var(--bs-transition);

    @media (min-width: 768px) {
      padding: rem(24);
    }

    @media (min-width: 1440px) {
      padding: rem(24) rem(32);
    }

    @include any-hover {
      box-shadow: 0 0 0 1px #06739a;
    }

    &:focus-within,
    &:active {
      box-shadow: 0 0 0 1px #06739a;
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    font-size: rem(15);

    @media (min-width: 768px) {
      font-size: rem(17);
    }

    &::placeholder {
      color: inherit;
      opacity: 0.5;
    }
  }

  &__checkbox {
    margin: rem(10) 0;
  }

  .button {
    font-weight: 400;
  }
}

.line {
  overflow: hidden;
  display: block;
  width: calc(100% - calc(rem($mainOffset) * 2));
  height: 1px;
  background-color: rgba(0, 113, 155, 0.3);
  margin: rem(24) auto;
  max-width: rem($containerWidth);
  transform: translateX(calc(-100% - calc(rem($mainOffset) * 2)));
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.5s linear, opacity 0.2s linear;

  @media (min-width: 768px) {
    margin: rem(48) auto;
  }

  &.animation-block {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}

.block {
  &__container {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: minmax(260px, rem(945));
    gap: rem(20);

    @media (min-width: 1440px) {
      grid-template-columns: 1fr minmax(rem(620), 1fr);
    }
  }

  &__wrap {
    display: grid;
    align-content: flex-start;
    @include property('gap', 30, 20);
    background-image: url('../../images/svg/crug-2.svg');
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    position: sticky;
    top: calc(var(--height-header) + rem(20));
    left: 0;
    max-width: rem(480);
    text-wrap: balance;
    font-size: rem(26);
    line-height: 1.1;

    @media (min-width: 768px) {
      font-size: rem(34);
    }

    @media (min-width: 1200px) {
      font-size: rem(46);
    }
  }

  &__subtitle {
    max-width: rem(540);
  }
}
