.button {
  position: relative;
  font-weight: 500;
  font-size: rem(17);
  line-height: 1;
  padding: rem(14);
  border-radius: 100vmax;
  transition: all var(--bs-transition);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  text-align: center;
  height: rem(42);

  @media (min-width: 1200px) {
    font-size: rem(20);
    height: rem(50);
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &__red {
    border: 1px solid #ec1940;
    background-color: #ec1940;
    color: #ffffff;
    max-width: rem(221);
    width: 100%;
    font-size: rem(16);
    padding-inline: rem(8);
    gap: rem(4);

    @media (min-width: 767px) {
      max-width: rem(272);
      font-size: rem(17);
      gap: rem(10);
    }

    @media (min-width: 1200px) {
      max-width: rem(323);
    }

    @include any-hover {
      border: 1px solid #ffffff;
      background-color: #ffffff;
      color: #ec1940;
    }

    &:focus-visible,
    &:active {
      border: 1px solid #ffffff;
      background-color: #ffffff;
      color: #ec1940;
    }
  }

  &__blue {
    border: 1px solid #06739a;
    background-color: #06739a;
    color: #ffffff;

    @include any-hover {
      background-color: #ffffff;
      color: #06739a;
    }

    &:focus-visible,
    &:active {
      background-color: #ffffff;
      color: #06739a;
    }
  }

  &__white {
    border: 1px solid #06739a;
    background-color: #ffffff;
    color: #06739a;

    @include any-hover {
      background-color: #06739a;
      color: #ffffff;
    }

    &:focus-visible,
    &:active {
      background-color: #06739a;
      color: #ffffff;
    }
  }

  &__white-br {
    border: 1px solid #06739a;
    background-color: #ffffff;
    color: #06739a;

    @include any-hover {
      background-color: #06739a;
      color: #ffffff;
      border-color: #ffffff;
    }

    &:focus-visible,
    &:active {
      background-color: #06739a;
      color: #ffffff;
      border-color: #ffffff;
    }
  }

  &__transparent {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;

    @include any-hover {
      border-color: #06739a;
      color: #06739a;
    }

    &:focus-visible,
    &:active {
      border-color: #06739a;
      color: #06739a;
    }
  }

  &__grey {
    border: 1px solid #06739a;
    background-color: #f4f4f4;
    color: #06739a;
    width: 100%;
    font-size: rem(18);
    padding: rem(12);
    max-width: rem(256);

    @include any-hover {
      background-color: #06739a;
      color: #ffffff;
    }

    &:focus-visible,
    &:active {
      background-color: #06739a;
      color: #ffffff;
    }
  }

  &__play {
    padding-inline: rem(55);
    max-height: rem(50);
    overflow: hidden;

    @include pseudo-cell(before) {
      top: 0;
      left: 0;
      height: 100%;
      aspect-ratio: 1/1;
      background-image: url('../../images/svg/play.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  * {
    pointer-events: none;
    transition: none;
  }
}

.button-line {
  position: relative;
  font-weight: 500;
  line-height: 1;
  background-color: transparent;

  font-size: rem(15);

  @media (min-width: 768px) {
    font-size: rem(18);
  }

  @include pseudo-cell(before) {
    top: calc(100% + rem(2));
    left: 0;
    background-color: currentColor;
    width: 100%;
    height: rem(1);
    transition: width var(--bs-transition);
  }

  @include any-hover {
    &::before {
      width: 70%;
    }
  }

  &:focus-visible,
  &:active {
    &::before {
      width: 70%;
    }
  }
}

.form-contacts {
  display: grid;
  align-items: center;
  background-color: #ffffff;
  padding: rem(20) rem(12);
  border-radius: rem(30);

  .akcii__wrap & {
    height: 100%;
  }

  @media (min-width: 768px) {
    border-radius: rem(40);
    padding: rem(37) rem(40);
  }

  @media (min-width: 1200px) {
    padding: rem(40) rem(30);
  }

  @media (min-width: 1440px) {
    padding: rem(37) rem(40);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: rem(15);

    @media (min-width: 1200px) {
      gap: rem(20);
    }
  }

  &__fieldset {
    width: 100%;
  }

  &__label {
    display: block;
  }

  &__input {
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    font-size: rem(15);
    padding: rem(10) rem(12);
    border: 1px solid #186fa140;
    border-radius: rem(13);
    background-color: #f5f6f7;
    cursor: text;
    transition: box-shadow var(--bs-transition);

    @media (min-width: 768px) {
      padding: rem(24);
      font-size: rem(17);
    }

    @media (min-width: 1440px) {
      padding: rem(24) rem(32);
    }

    @include any-hover {
      box-shadow: 0 0 0 1px #06739a;
    }

    &:focus-visible,
    &:active {
      box-shadow: 0 0 0 1px #06739a;
    }

    &::placeholder {
      color: inherit;
      opacity: 0.5;
    }

    &-error {
      box-shadow: 0 0 0 1px red;
      color: red;
    }
  }

  &__textarea {
    display: block;
    width: 100%;
    height: 100%;
    font-size: rem(15);
    resize: vertical;
    min-height: rem(112);

    padding: rem(10) rem(12);
    border: 1px solid #186fa140;
    border-radius: rem(13);
    background-color: #f5f6f7;
    cursor: text;
    transition: box-shadow var(--bs-transition);

    @media (min-width: 768px) {
      padding: rem(24);
      font-size: rem(17);
    }

    @media (min-width: 1440px) {
      padding: rem(24) rem(32);
    }

    @include any-hover {
      box-shadow: 0 0 0 1px #06739a;
    }

    &:focus-visible,
    &:active {
      box-shadow: 0 0 0 1px #06739a;
    }

    @media (min-width: 768px) {
      font-size: rem(17);
    }

    &::placeholder {
      color: inherit;
      opacity: 0.5;
    }
  }

  &__checkbox {
    margin: rem(10) 0;
  }

  .button {
    font-weight: 400;
  }
}

.line {
  overflow: hidden;
  display: block;
  width: calc(100% - calc(rem($mainOffset) * 2));
  height: 1px;
  background-color: rgba(0, 113, 155, 0.5);
  margin: rem(24) auto;
  max-width: rem($containerWidth);
  transform: translateX(calc(-100% - calc(rem($mainOffset) * 2)));
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: transform 1.2s linear, opacity 0.4s linear;

  @media (min-width: 768px) {
    margin: rem(48) auto;
  }

  &.animation-block {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}

.block {
  &__container {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: minmax(260px, rem(945));
    gap: rem(20);

    @media (min-width: 1440px) {
      grid-template-columns: 1fr minmax(rem(620), 1fr);
    }
  }

  &__wrap {
    display: grid;
    align-content: flex-start;
    background-image: url('../../images/svg/crug-2.svg');
    background-position: center;
    background-repeat: no-repeat;

    &-wrap {
      display: grid;
      align-content: flex-start;
      @include property('gap', 30, 20);

      @media (min-width: 1440px) {
        position: sticky;
        top: calc(var(--height-header) + rem(20));
        left: 0;
      }
    }
  }

  &__title {
    max-width: rem(480);
    text-wrap: balance;
    font-size: rem(26);
    line-height: 1.1;
  }

  &__subtitle {
    max-width: rem(540);
  }
}

.block-slider {
  background-color: #ffffff;
  border: 1px solid #00719b12;
  border-radius: rem(30);
  overflow: hidden;
  box-shadow: 0px 0px 15px 0px #00719b12;
  transition: box-shadow var(--bs-transition);

  @include any-hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 113, 155, 0.5);
  }

  &:focus-visible,
  &:active {
    box-shadow: 0px 0px 15px 0px rgba(0, 113, 155, 0.5);
  }

  object {
    max-width: rem(240);
    width: 100%;
  }

  .button__blue {
    width: 100%;
    height: rem(42);
    letter-spacing: -0.5px;
    gap: rem(12ы);

    @media (min-width: 1024px) {
      height: rem(48);
    }

    @media (min-width: 1440px) {
      height: rem(52);
    }
  }

  .top &,
  &.top {
    color: #ffffff;
    border-color: #f6f6f6;

    .button__blue {
      background-color: #ffffff;
      color: #00719b;
      max-width: 300px;

      @include any-hover {
        background-color: #00719b;
        color: #ffffff;
        border-color: #ffffff;
      }

      &:focus-within,
      &:active {
        background-color: #00719b;
        color: #ffffff;
        border-color: #ffffff;
      }
    }
  }

  &__header {
    position: relative;
    z-index: 3;
    display: grid;
    background-color: #f2f8fa;
    border-radius: rem(30);
    width: 100%;

    .top & {
      background-color: #ffffff;

      .content-products__inner & {
        background-color: #d3eaf2;
      }
    }

    .akcii-product & {
      aspect-ratio: 1/1.09;
      max-height: rem(320);

      @media (min-width: 768px) {
        max-height: rem(495);
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    padding: rem(30) rem(20);

    @media (min-width: 768px) {
      padding: rem(42) rem(20) rem(30);
    }

    @media (min-width: 1200px) {
      padding: rem(56) rem(29) rem(38);
    }

    .top & {
      position: relative;
      z-index: 2;
      background-color: #00719b;
      color: #ffffff;
      padding: rem(30) rem(20);

      @media (min-width: 1200px) {
        padding: rem(40) rem(39) rem(38);
      }

      @include pseudo-cell(before) {
        bottom: 100%;
        left: 0;
        width: 100%;
        height: rem(30);
        background-color: #00719b;
      }
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(20);
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: rem(20);
    aspect-ratio: 1.07/1;
    max-height: rem(495);

    @media (min-width: 768px) {
      padding: rem(30);
    }

    @media (min-width: 1200px) {
      padding: rem(30) rem(30) rem(41);
    }

    .top & {
      color: #06739a;
      padding-inline: rem(30);

      @media (min-width: 1200px) {
        padding-inline: rem(39);
      }
    }
  }

  &__sale {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.6);
    padding: rem(10) rem(20);
    min-width: rem(158);
    border: 1px solid #388fae26;
    border-radius: 100vmax;
    box-shadow: 0px 0px 15px 0px #00719b12;
    font-size: rem(18);
    text-align: center;
    margin-bottom: auto;
  }

  &__hit {
    font-size: rem(24);
    line-height: 0.78;
    max-width: rem(150);
    word-break: break-word;
    hyphens: auto;

    @media (min-width: 768px) {
      font-size: rem(30);
    }

    @media (min-width: 1200px) {
      font-size: rem(39);
    }

    .top & {
      color: #00719b;
    }
  }

  &__percent {
    text-align: center;
    background-color: #388fae26;
    padding: rem(9) rem(20);
    min-width: rem(105);
    border: 1px solid #388fae26;
    border-radius: 100vmax;
    box-shadow: 0px 0px 15px 0px #00719b12;
    font-size: rem(18);
    font-weight: 600;
    line-height: 1.135;
    margin-top: auto;

    .top & {
      font-size: rem(20);
      min-width: rem(132);
      padding: rem(13) rem(20);
      color: #06739a;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    font-size: rem(20);
    letter-spacing: -0.3px;

    .top & {
      font-size: rem(24);
      letter-spacing: -1px;
    }

    @media (min-width: 768px) {
      font-size: rem(24);

      .top & {
        font-size: rem(32);
      }
    }

    @media (min-width: 1200px) {
      font-size: rem(28);

      .top & {
        font-size: rem(39);
      }
    }
  }

  &__subtitle {
    margin-top: rem(9);
    margin-bottom: rem(20);
    max-width: rem(500);

    .top & {
      font-size: rem(18);
      margin-top: rem(15);
    }
  }

  &__prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__new-price {
    font-size: rem(24);
    line-height: 1;

    @media (min-width: 768px) {
      font-size: rem(30);
    }

    @media (min-width: 1200px) {
      .size-info & {
        font-size: rem(46);
      }
    }

    span {
      font-size: rem(20);

      @media (min-width: 768px) {
        font-size: rem(24);
      }

      @media (min-width: 1200px) {
        .size-info & {
          font-size: rem(30);
        }
      }
    }

    .top & {
      font-size: rem(28);

      @media (min-width: 768px) {
        font-size: rem(34);
      }

      @media (min-width: 1200px) {
        font-size: rem(42);
      }

      span {
        font-size: rem(24);

        @media (min-width: 768px) {
          font-size: rem(30);
        }

        @media (min-width: 1200px) {
          font-size: rem(36);
        }
      }
    }
  }

  &__old-price {
    position: relative;
    font-size: rem(20);
    color: #9bc7d7;
    // text-decoration: line-through;

    @include pseudo-cell(before) {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: rem(2);
      background-color: currentColor;
    }

    @media (min-width: 1200px) {
      .size-info & {
        font-size: rem(40);
      }
    }

    @media (min-width: 1200px) {
      font-size: rem(24);
    }

    span {
      font-size: rem(18);

      @media (min-width: 1200px) {
        font-size: rem(20);

        .size-info & {
          font-size: rem(24);
        }
      }
    }

    .top & {
      font-size: rem(24);

      @media (min-width: 1200px) {
        font-size: rem(30);
      }

      span {
        font-size: rem(20);

        @media (min-width: 1200px) {
          font-size: rem(24);
        }
      }
    }
  }

  &__wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: rem(20);
    margin-top: auto;

    .size-info & {
      justify-content: flex-start;
      flex-wrap: nowrap;

      .block-slider__prices {
        flex: 0 0 auto;
      }

      @media (min-width: 1200px) {
        column-gap: rem(48);
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
  gap: 1rem;
  height: auto;

  @supports (grid-template-rows: subgrid) {
    > * {
      display: grid;
      gap: 20px;
      grid-row: auto / span 4;
      grid-template-rows: subgrid;
    }
  }

  @supports not (grid-template-rows: subgrid) {
    > * {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.map-popup,
.video-popup {
  &__text {
    display: flex;
    flex-wrap: wrap;
    gap: rem(6);
    @include property('font-size', 22, 18);
    padding-right: rem(50);
    margin-bottom: 1rem;
  }

  iframe {
    width: 100%;
    height: 70vh;
    height: 70dvh;
    border-radius: rem(30);
    box-shadow: 0px 0px 15px 0px #00719b12;
    box-shadow: 0px 0px 12px 0px #14131312;
  }
}

.video-popup {
  .popup__body {
    padding-top: rem(50);
  }
}

.licenses,
.company-in-persons {
  .sliders__btns {
    justify-content: flex-end;
    gap: rem(26);
  }

  [class*='swiper-button'] {
    @include property('margin-top', 34, 24, 768);
  }

  [class*='button-next'] {
    transform: rotate(180deg);
  }
}

.img-bg {
  position: relative;
  background-color: #07759b;

  @include pseudo-cell(before) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        176.99deg,
        rgba(0, 113, 155, 0.09) -3.04%,
        rgba(0, 113, 155, 0.24) 92.51%
      ),
      linear-gradient(
        177.69deg,
        rgba(189, 217, 228, 0) 39.68%,
        rgba(56, 143, 174, 0.333) 71.42%,
        rgba(5, 92, 123, 0.9) 98.06%
      );
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
  }
}

.dropdown {
  position: relative;
  z-index: 10;
  display: inline-flex;
  min-width: rem(230);
  font-size: rem(18);

  &__select {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10);
    background-color: #ffffff;
    border: 1px solid #06739a;
    height: rem(50);
    padding: rem(13);
    width: 100%;
    border-radius: rem(24);
    transition: color var(--bs-transition), border-radius var(--bs-transition),
      background-color var(--bs-transition);

    .select-open & {
      transition: color var(--bs-transition),
        border-radius var(--bs-transition) -0.25s,
        background-color var(--bs-transition);
      border-radius: rem(24) rem(24) 0 0;
    }

    @include any-hover {
      color: #ffffff;
      background-color: #06739a;
    }

    &:focus-visible,
    &:active {
      color: #ffffff;
      background-color: #06739a;
    }

    * {
      pointer-events: none;
    }

    &-img {
      width: rem(24);
      height: rem(24);
      flex: 0 0 auto;
      background-color: currentColor;
      mask-image: url('../../../images/svg/sort.svg');
      mask-repeat: no-repeat;
      mask-size: 100% 100%;
      mask-position: center center;

      .size-info__wrap & {
        mask-image: url('../../../images/svg/Size.svg');
      }
    }

    &-caret {
      width: rem(16);
      height: rem(16);
      flex: 0 0 auto;
      background-color: currentColor;
      mask-image: url('../../../images/svg/arrow-up.svg');
      mask-repeat: no-repeat;
      mask-size: 100% 100%;
      mask-position: center center;
      transform: rotateX(180deg);
      transition: transform var(--bs-transition);

      .select-open & {
        transform: rotateX(0);
      }
    }
  }

  &__list {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    display: grid;
    gap: rem(4) rem(12);
    width: 100%;
    background-color: #ffffff;
    overflow-y: overlay;
    max-height: min(calc(var(--vh) - var(--height-header) - rem(70)), rem(320));
    border-radius: 0 0 rem(24) rem(24);
    border: 1px solid #06739a;
    padding: rem(20) rem(13);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.2s linear;

    .size-info__wrap & {
      grid-template-columns: 1fr 1fr;
    }

    .select-open & {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transition: all 0.3s linear;
    }
  }

  &__item {
    &-select {
      position: relative;
      display: flex;
      background-color: transparent;
      width: 100%;
      text-align: left;
      padding: rem(12);
      border: 1px solid #055c7b;
      box-shadow: 0px 4px 20px 0px #00719b0d;
      border-radius: rem(8);
      transition: all var(--bs-transition);

      .size-info__wrap & {
        justify-content: center;
        text-align: center;
      }

      @include any-hover {
        color: #ffffff;
        background-color: rgba(6, 115, 154, 0.6);
      }

      &:focus-visible,
      &:active {
        color: #ffffff;
        background-color: rgba(6, 115, 154, 0.6);
      }

      @include pseudo-cell(after) {
        bottom: rem(4);
        right: rem(6);
        width: rem(12);
        height: rem(12);
        background-color: #06739a;
        mask-image: url('../../../images/svg/checkbox.svg');
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        mask-position: center;
        opacity: 0;
        transition: opacity var(--bs-transition);
      }

      &_active {
        color: #06739a;
        background-color: #d3eaf2;

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.sizes-popup {
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
